* {
  padding: 0;
  margin: 0;
}
header {
  background-color: rgb(212, 207, 207);
}
h1 {
  padding-left: 45vw;
}
input {
  border-color: white;
}
.top {
  width: 90vw;
  height: 30vh;
  margin: 30px;
  display: flex;
  /* border: 5px solid red; */
  flex-direction: column;
  justify-content: space-between;
}
.label-input {
  display: inline-flex;
  justify-content: space-between;
}
.label-input input {
  width: 70vw;
  height: 4vh;
}
.meme-button {
  display: flex;
  justify-content: flex-end;
}
.meme-button button {
  margin: 10px;
  background-color: #3386ef;
  border-radius: 5px;
  border: 0;
  color: #ffffff;
  padding: 5px 10px;
  cursor: pointer;
}
#mem {
  width: 250px;
  height: auto;
  margin: 10px;
  display: flex;

  position: relative;
  text-align: center;
  /* color: rgb(255, 255, 255); */
  /* font-family: "Fjalla One", sans-serif;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px black;
  font-weight: bolder;
  text-transform: uppercase; */
}
.hover-div:hover {
  background-color: rgba(0, 0, 0, 0.604);
  background-image: url("./close.svg");
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center center;
}
.image-container {
  position: relative;
  color: rgb(247, 241, 241);
  font-family: "Fascinate", cursive, sans-serif;
  font-size: 1.5rem;
  text-shadow: 4px 4px 4px rgb(8, 8, 8);
  font-weight: bolder;
  text-transform: uppercase;
}
.topText {
  position: absolute;
}
.bottomText {
  position: absolute;
}
img {
  width: 400px;
  height: 400px;
  margin: 9px;
}
.hover-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.9s;
}
.hover-div:hover {
  background-color: rgba(197, 187, 187, 0.604);
  background-image: url("./icon-close.svg");
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center center;
}
.text-top {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 9px;
  left: 0;
}
.text-bottom {
  position: absolute;
  width: 100%;
  height: fit-content;
  bottom: 16px;
  left: 0;
}
